@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"), url("/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2"), url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2"), url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main__header {
  border-bottom: 1px solid #e6e6e6;
}

.main__header_wrap {
  min-height: 769px;
  padding-top: 40px;
  background-image: url("../img/bg-header.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header_logo_link {
  padding: 15px;
}

.main__header_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 103px;
}

.main__header_title {
  font-family: BebasNeue;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 5.70937px;
  color: #ffffff;
}

.main__header_parag {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.main__header_btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 52px;
}

.main__header_btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 3.7px;
  background-color: transparent;
  color: #ffffff;
  background-image: url("../svg/sprite.svg#arrow");
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1;
}

.main__header_btn:hover + .main__header_btn_svg {
  -webkit-transform: translate(-50%, 50px);
      -ms-transform: translate(-50%, 50px);
          transform: translate(-50%, 50px);
  opacity: 1;
}

.main__header_btn_svg {
  position: absolute;
  fill: white;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50px);
      -ms-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 0;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0;
}

.header__navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation_link {
  padding: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  color: #48555b;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header__navigation_link:hover {
  border-bottom: 1px solid #00a4e5;
}

.header__navigation_link:active {
  color: #00a4e5;
  opacity: 0.7;
}

.header__navigation_link_active {
  color: #00a4e5;
}

.our_story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans;
  padding-top: 57px;
  padding-bottom: 119px;
}

.our_story__main_title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2.30625px;
  color: #48555b;
  position: relative;
  margin-bottom: 64px;
}

.our_story__main_title::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.our_story__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our_story__about_text {
  max-width: 50%;
}

.our_story__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555b;
  margin-bottom: 31px;
  max-width: 400px;
}

.our_story__inner_link {
  color: #16ace8;
}

.our_story__inner_link:hover {
  text-decoration: underline;
}

.our_story__inner_link:active {
  opacity: 0.7;
}

.our_story_parag {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
  max-width: 410px;
}

.our_story__image_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.our_story__image_item {
  width: 140px;
  height: 224px;
  padding: 15px;
  margin-right: 20px;
}

.our_story__image_item:first-child {
  background-image: url("../img/about-1.jpg");
}

.our_story__image_item:nth-child(2) {
  background-image: url("../img/about-2.jpg");
}

.our_story__image_item:nth-last-child(1) {
  background-image: url("../img/about-3.jpg");
  margin-right: 0;
}

.our_story__image_title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
}

.our_carabilities__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our_carabilities__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2.30625px;
  color: #48555b;
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.our_carabilities__paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  margin-right: 32px;
  max-width: 405px;
  color: #48555b;
}

.blue_button {
  min-width: 150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blue_button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  background: #00a4e5;
  background: -webkit-gradient(linear, left top, right top, from(#00a4e5), to(#00a4e5));
  background: -o-linear-gradient(left, #00a4e5 0%, #00a4e5 100%);
  background: linear-gradient(90deg, #00a4e5 0%, #00a4e5 100%);
}

.blue_button:hover::after {
  background: #00a4e5;
  background: -webkit-gradient(linear, left top, right top, from(#00a4e5), to(white));
  background: -o-linear-gradient(left, #00a4e5 0%, white 100%);
  background: linear-gradient(90deg, #00a4e5 0%, white 100%);
}